/* Tema terang */
body {
  background-color: #fff;
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Tema gelap */
body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark .gallery-card {
  background-color: #333;
  border: 1px solid #555;
}
